body {
  font-family: sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url("./C5Qu.gif");
background-size: 100%;
background-repeat: no-repeat;

}
input {
  width: 400px;
  padding: 10px;
  font-size: 20px;
  height: 30px;
}
img {
  width: 150px;
}
.country-input{
    border-radius: 10px;
}